{% extends "base.html" %}

{% block extrahead %}
  {% set title = config.site_name %}
  {% if page and page.meta and page.meta.title %}
    {% set title = title ~ " - " ~ page.meta.title %}
  {% elif page and page.title and not page.is_homepage %}
    {% set title = title ~ " - " ~ page.title | striptags %}
  {% endif %}
  <meta property="og:title" content="Inclusive Cooking">
  <meta property="og:site_name" content="Inclusive Cooking">
  <meta property="og:url" content="https://recipes.poupart.farm/">
  <meta property="og:description" content="">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/images/fnb.png">
{% endblock %}
